.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent; /* on enlève le fond du header */
  z-index: 10; /* pour qu’il reste devant le fond spatial */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

/* Nouveau style pour le fond spatial */
.spaceBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* derrière le header */
  width: 100%;
  height: 400px; /* même hauteur que ton canvas */
}
